body{
  margin: 0;
  background-color: #F5F5F5;
  font-family: 'Libre Baskerville';
}

#brookings {
  position: fixed;
  top: -15%;
  left: -10%;
  width: 100%;
  height: 100%;
}

#titleimg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#wustlname{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translateX(-35%);
  border-radius: 5px;
}


#wrapper{
  position: relative;
  margin-top: 57%;
  width: 100%;
  height: 3450px;
  background-color: white;

}


#navigation {

  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 0.3px solid lightgray;
  background-color: lightgray;
  z-index: 100;

}

#navigation a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#navigation a:hover{
  cursor: pointer;
}
.left{
  float: left;
}
.right{
  padding-top: 10px;
  margin-right: 40px;
  float: right;
}
#wustl_logo{
  height: 40px;
}


.challenge {
  margin-top: 90px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  text-align: center;

}

.heading{
  font-size: 30px;
  color: #bc1c1c;
}

.body{
  font-size: 20px;
  color: #776f6f;
}

#photowall{

  width: 100%;
  height: 800px;
}
#photowall img{
  width: 420px;
  height: 420px;
}

.top{
  display: flex;
  width: 100%;
  height: 420px;
  justify-content: space-between;
}

.bottom{
  display: flex;
  width: 100%;
  height: 420px;
  justify-content: space-between;
}

.box{
  height: 420px;
  width: 420px;
}

.box1{
  height: 420px;
  width: 420px;
  background-color: #3d3d3d;
}
.icon{
  text-align: center;
  color: #9e9999;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 40px;

}
.header{
  text-align: center;
  color: white;
  font-size: 20px;

}

.textarea{
  border: 1px white solid;
  text-align: center;
  color: #9e9999;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 15px;
  height: 30px;
  width: 160px;
  border-radius: 5px;
}

.textarea:hover{
  color: white;
  background-color: #191818;
  transition: 0.5s;
  cursor: pointer;
}

#school{
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

#school img{
  height: 200px;
  width: 200px;
}

.boxicon{

  height: 300px;
  width: 200px;
}

.iconimg{
  height: 200px;
  width: 200px;
}

.icondescription{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: center;
  height: 200px;
  width: 200px;
}

#majors{
  width: 95%;
  height: 900px;
  border-top: 1px lightgray solid;
  margin-left: auto;
  margin-right: auto;

}

#majorbuttons{
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.majorbuttons{
  border: 1px solid rgba(153, 10, 10, 1);
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: white;
  background-color: rgba(153, 10, 10, 1);
}

.majorbuttons:hover{
  background-color: white;
  color: rgba(153, 10, 10, 1);
  cursor: pointer;
}

#listing{
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.schools{
  height: 500px;
  width: 370px;
}

.underline{
  border-bottom: 1px lightgray solid;
  height: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

.schoollist{
  list-style-type: none;
  padding-left: 0;
}

.schoollist li{
  padding-bottom: 15px;
  font-size: 17px;
  color: rgba(153, 10, 10, 1);
  font-weight: bold;
}

.schoollist li:hover{
  text-decoration: underline;
  cursor: pointer;
}

#sentence{

  height: 120px;
  color: #1ca301;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}
#sentence:hover{
  text-decoration: underline;
  cursor: pointer;
}
#picture{

  height: 350px;
}


#apply{
  width: 100%;
  height: 300px;

  background-color: #bc0101;
}

#container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.button{
  font-family: 'Roboto',sans-serif;
  width: 500px;
  height: 90px;
  border: 1px white solid;
  text-align: center;
  background-color: rgba(153, 10, 10, 1);
  padding-top: 60px;
  color: white;
  border-radius: 5px;
  font-size: 25px;
}

.button:hover{
  text-decoration: underline;
  background-color: #a80d0d;
  transition: 0.5s;
  cursor: pointer;
}

#washu{
  width: 100%;
  height: 350px;
  background-color: #353535;
  padding-top: 50px;
  color: white;
}

#area{
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
#boxes{
  width: 400px;
  height: 300px;
}

#snsicons{

  width: 305px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.snsicons{
  border: 1px white solid;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  padding-top: 10px;
}

.snsicons:hover{
  background-color: lightgray;
  color: black;
}

.boxes{
  font-family: 'Roboto',sans-serif;
  width: 250px;

  height: 300px;
}

.listheader{
  height: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

.secondlist{
  list-style-type: none;
  padding-left: 0;
}

.secondlist li{
  padding-bottom: 10px;
  font-size: 17px;
  color: white;

}

.secondlist li:hover{
  text-decoration: underline;
  cursor: pointer;
}

#footer{
  padding-top: 5px;
  color: white;
  text-align: center;

  width: 100%;
  height: 25px;
  background-color: rgba(153, 10, 10, 1);
}


@media only screen and (max-width: 1200px) {

  #brookings {
    display: none;
  }

  #titleimg{
    display: none;
  }

  #wustlname{
    display: none;
  }

  #wrapper{
    display: absolute;
    margin-top: -50px;
    width: 100%;
    height: 3200px;
    background-color: white;
  }

  #navigation {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 0.3px solid lightgray;
    background-color: lightgray;
    z-index: 100;

  }

  #navigation a{
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #navigation a:hover{
    cursor: pointer;
  }
  .left{
    float: left;
  }
  .right{
    padding-top: 10px;

    float: right;
  }
  #wustl_logo{
    height: 40px;
  }


  .challenge {
    margin-top: 90px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    text-align: center;

  }

  .heading{
    font-size: 23px;
    color: #bc1c1c;
  }

  .body{
    font-size: 18px;
    color: #776f6f;
  }

  #photowall{
    width: 100%;
    height: 800px;
  }

  #photowall img{
    display: none;
  }

  .top{
    display: flex;
    width: 100%;
    height: 420px;
    justify-content: space-between;
  }

  .bottom{
    display: flex;
    width: 100%;
    height: 420px;
    justify-content: space-between;
  }

  .box{
    height: 420px;
    width: 0px;
  }

  .box1{
    height: 420px;
    width: 100%;
    background-color: #3d3d3d;
    border: 1px white solid;
  }
  .icon{
    text-align: center;
    color: #9e9999;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 40px;

  }
  .header{
    text-align: center;
    color: white;
    font-size: 20px;

  }

  .textarea{
    border: 1px white solid;
    text-align: center;
    color: #9e9999;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 15px;
    height: 30px;
    width: 160px;
    border-radius: 5px;
  }

  .textarea:hover{
    color: white;
    background-color: #191818;
    transition: 0.5s;
    cursor: pointer;
  }

  #school{

    height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  #school img{
    height: 100px;
    width: 100px;
  }

  .boxicon{

    height: 150px;
    width: 100px;
  }

  .iconimg{
    height: 100px;
    width: 100px;
  }

  .icondescription{

    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 100px;
    font-size: 12px;
    width: 100px;
  }

  #majors{
    width: 95%;
    height: 900px;
    border-top: 1px lightgray solid;
    margin-left: auto;
    margin-right: auto;

  }

  #majorbuttons{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
  }

  .majorbuttons{
    border: 1px solid rgba(153, 10, 10, 1);
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
    background-color: rgba(153, 10, 10, 1);
  }

  .majorbuttons:hover{
    background-color: white;
    color: rgba(153, 10, 10, 1);
    cursor: pointer;
  }

  #listing{
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 500px;
    display: flex;
    justify-content: space-between;
  }

  #hide{
    display: none;
  }

  .schools{
    height: 500px;
    width: 350px;
  }

  .underline{
    border-bottom: 1px lightgray solid;
    height: 30px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .schoollist{
    list-style-type: none;
    padding-left: 0;
  }

  .schoollist li{
    padding-bottom: 15px;
    font-size: 17px;
    color: rgba(153, 10, 10, 1);
    font-weight: bold;
  }

  .schoollist li:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  #sentence{

    height: 120px;
    color: #1ca301;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
  }
  #sentence:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  #picture{

    height: 350px;
  }


  #apply{
    width: 100%;
    height: 300px;

    background-color: #bc0101;
  }

  #container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
  }

  .button{
    font-family: 'Roboto',sans-serif;
    width: 350px;
    height: 90px;
    border: 1px white solid;
    text-align: center;
    background-color: rgba(153, 10, 10, 1);
    padding-top: 60px;
    color: white;
    border-radius: 5px;
    font-size: 25px;
  }

  .button:hover{
    text-decoration: underline;
    background-color: #a80d0d;
    transition: 0.5s;
    cursor: pointer;
  }

  #washu{
    width: 100%;
    height: 350px;
    background-color: #353535;
    padding-top: 50px;
    color: white;
  }

  #area{
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
  }
  #boxes{
    display: none;
    width: 400px;
    height: 300px;
  }


  .secondlist li:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  #footer{
    padding-top: 5px;
    color: white;
    text-align: center;

    width: 100%;
    height: 25px;
    background-color: rgba(153, 10, 10, 1);
  }
}
